# Dependencies
**/node_modules/

# Build files
**/dist/

# Environment
**/.env
**/.env.*
!**/.env.production

# Turbo
**/.turbo/

# Code style
**/prettier.config.js
**/.prettierignore
**/biome.json
**/.lintstagedrc.json
.husky/

# Info
**/README.md

# Git
.git/
.gitignore

# Docker
**/Dockerfile/
.dockerignore
