**/dist/
**/node_modules/
**/.turbo/
**/.env
**/.env.example
**/.eslintignore
**/.eslintrc.json
**/.lintstagedrc.json
**/.prettierignore
**/jest.config.js
**/README.md
.git/
.husky/
services/
.dockerignore
.gitignore
.prettierrc.json
commitlint.config.js
