# Dependencies
**/node_modules/

# Build files
**/dist/

# Environment
**/.env
**/.env.*
!**/.env.production

# Testing
**/*.test.ts
**/*.test.tsx
**/jest.config.js

# Turbo
**/.turbo/

# Code style
**/.eslintignore
**/.eslintrc.json
**/.lintstagedrc.json
**/.prettierignore
.husky/
.prettierrc.json
commitlint.config.js

# Info
**/README.md

# Git
.git/
.gitignore

# Docker
services/
.dockerignore
