app_version = ""

# The name of this project
app_name       = "fullstack-template"

# GCP project id (found on cloud console project overview)
gcp_project_id = ""

# Base domain name used for the frontend application
domain_name    = ""
